<h2 class="country-name">{{ name }}</h2>
<div class="flex-container">
    <div class="info-country">
        <p class="info-country_item">Capital: <span>{{ capital }}</span></p>
        <p class="info-country_item">Population: <span>{{ population }}</span> </p>
        <p class="info-country_item">Languages: </p>
        <ul class="languages-country">
            {{#each languages}}
            <li class="languages-country_item">{{ this.name }}</li>
            {{/each}}
        </ul>
    </div>
    <div class="flag-country">
        <img src="{{ flag }}" alt="flag" width="300px">
    </div>
</div>